.navbar {
    background: var(--white);
    grid-area: nav;
    height:60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  0 30px 0 30px;
    border-bottom: 1px solid var(--grey);
}

.nav_icon {
    display: none;
}

.nav_icon > i{
    font-size: 26px;
    color: var(--greydark)
}

.navbar__left > a{
    margin-left:30px;
    text-decoration: none;
    color: var(--greydark);
    font-size: 15px;
    font-weight: 700;
}

.navbar__left a:hover{
    color:var(--bluedark);
    border-bottom: 2px solid var(--bluedark);
}

.navbar__right{
    display: flex;
    justify-content:center;
    align-items: center;
}

.navbar__right{
    display: flex;
    justify-content:center;
    align-items: center;
}

.navbar__right > a{
    margin-left: 20px;
    text-decoration: none;
}

.navbar__right > a > i {
    color: var(--greydark);
    font-size: 16px;
    border-radius: 50px;
    background: var(--white);
    box-shadow: 2px 2px 5px var(--greydark), -2px -2px 5px var(--white);
    padding: 7px; 
}
.navbar__right > a > img{
    border-radius:  50%;
}
@media only screen and (max-width: 978px){
    .nav_icon{
        display: inline;
    }
}
@media only screen and (max-width: 480px){
    .navbar__left{
        display: none;
    }
}